html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "Press Start 2P", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.game-container {
    background-color: #a3d841;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 60rem; /* maximum width */
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.scores {
    margin: 2rem 0;
    font-size: 1.4rem;
}

.computer-section, .player-section, .result-section, .choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hand {
    border: 1px dashed black;
    margin: 1px;
    padding: 1rem;
}

.result-section {
    background-color: yellow;
    font-weight: bolder;
    padding: 1rem 0;
    
}

.result-text {
    font-size: 2rem;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.choice {
    background-color: white;
    margin: 0.5rem;
    border: 2px solid white;
    text-align: center;
    flex: 1;
    padding: 1rem;
}

.icon {
    font-size: 9rem;
}

.reset-button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    html {
        font-size: 56.25%; /* 1rem = 9px */
    }
}

@media (max-width: 820px) {
    html {
        font-size: 50%; /* 1rem = 8px */
    }

    .result-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .game-container {
        padding: 1rem;
    }

    .choice {
        flex: 1 1 30%;
    }

    .icon {
        font-size: 8rem;
    }

    .reset-button {
        font-size: 1.4rem;
    }
}

@media (max-width: 540px) {
    html {
        font-size: 43.75%; /* 1rem = 7px */
    }

    .result-text {
        font-size: 1.6rem;
    }

    .icon {
        font-size: 7rem;
    }

    .reset-button {
        font-size: 1.2rem;
    }
}

@media (max-width: 414px) {
    html {
        font-size: 37.5%; /* 1rem = 6px */
    }

    .result-text {
        font-size: 1.4rem;
    }

    .icon {
        font-size: 6rem;
    }

    .reset-button {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 31.25%; /* 1rem = 5px */
    }

    .result-text {
        font-size: 1.2rem;
    }

    .icon {
        font-size: 5rem;
    }

    .reset-button {
        font-size: 0.8rem;
    }
}
