html {
    font-size: 60.5%;
}

body {
    font-family: "Press Start 2P", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    background-color: #a3d841;
    margin: 0 20%;
    text-align: center;
}

.computer-section, .player-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.computer-text, .player-text {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.hand {
    border: 1px dashed black;
    margin: 1px;
}

.result-section {
    background-color: yellow;
    font-weight: bolder;
    padding: 10px 0;
}

.result-text {
    text-align: center;
    font-size: x-large;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
    margin: 0 auto;
}

.choice {
    background-color: white;
    margin: 2px;
    border: 2px solid white;
    text-align: center;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.2;
    font-size: inherit;
}

.scores {
    margin: 20px 0;
}

.reset-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: large;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}
